<% provide(:title, 'base') %>

<div class="container">
  <h1>拠点一覧</h1>
  <div>
    <table class="table table-bordered table-condensed">
      <tbody>
        <tr>
          <th></th>
          <th></th>
          <th>拠点番号</th>
          <th>拠点名</th>
          <th>勤怠種類</th>
        </tr>
        <tr>
          <td><%= link_to "修正", edit_basis_path, class: "btn btn-md btn-primary" %></td>
          <td><%= link_to "削除", "#", method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "btn btn-md btn-primary" %>
          </td>
          <td>1</td>
          <td>拠点A</td>
          <td>A</td>
        </tr>
      </tbody>
    </table>
    <%= link_to "拠点情報追加", "#", class: "btn btn-lg btn-primary" %>
  </div>
</div>